mkdocs==1.4.2
mkdocs-material==9.1.5
mkdocs-minify-plugin==0.6.1
mkdocs-redirects==1.2.0
pymdown-extensions==8.2
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-gen-files==0.4.0
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-protobuf==0.1.0
mkdocs-table-reader-plugin==1.2
pygments==2.11
oyaml==1.0
mdutils==1.4.0
