img.bordered {
    height: auto;
    width: auto;
    border: 1px solid #9f9f9f;
    transition: transform ease-in-out 0.3s;
}


.md-typeset .admonition.jagged-box,
.md-typeset details.jagged-box {
  border-color: transparent;
  background-color: rgb(196, 229, 204);
  display: none;  /* Start hidden. */
  transition: 0.5s;
}
.md-typeset .jagged-box > .admonition-title,
.md-typeset .jagged-box > summary {
  background-color: rgb(196, 229, 204);
}
/* Hide the admonition icon. */
.md-typeset .jagged-box > .admonition-title::before,
.md-typeset .jagged-box > summary::before {
  display: none;
}
.md-typeset .jagged-box > p.admonition-calltoaction-close {
  color: black;
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0;
  font-size: 250%;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  opacity: 0.6;
}
.md-typeset .jagged-box > p.admonition-calltoaction-close:hover {
  transition-duration: 0.4s;
  opacity: 1;
}


.jagged-box{
    position: relative;
    color: #185178;
    background-color: #2b9b46;
    text-align:center;
}

.md-typeset .jagged-box > p {
    display: none;
}

.md-typeset .jagged-box > p.admonition-title {
    display: block;
    font-size: 1rem;
}

.md-typeset .jagged-box::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left:0;
    right:0;
    height: 20px;
    background:
      linear-gradient(
        50deg,
        var(--md-primary-bg-color) 44.6256%,
        transparent 46.6256%
      ),
      linear-gradient(
        -50deg,
        var(--md-primary-bg-color) 44.6256%,
        transparent 46.6256%
      ),
      linear-gradient(
        40deg,
        transparent 76.1872%,
        rgb(196, 229, 204) 78.1872%
      ),
      linear-gradient(
        -40deg,
        var(--md-primary-bg-color) 76.1872%,
        rgb(196, 229, 204) 78.1872%
      );
    background-size: 40px 40px;
    background-position: 0 -40px;
}

.md-typeset .jagged-box::before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left:0;
    right:0;
    height: 40px;
    background:
      linear-gradient(
        50deg,
        transparent 53.3744%,
        var(--md-primary-bg-color) 55.3744%
      ),
      linear-gradient(
        -50deg,
        transparent 53.3744%,
        var(--md-primary-bg-color) 55.3744%
      ),
      linear-gradient(
        40deg,
        rgb(196, 229, 204) 21.8128%,
        transparent 23.8128%
      ),
      linear-gradient(
        -40deg,
        rgb(196, 229, 204) 21.8128%,
        var(--md-primary-bg-color) 23.8128%
      );
    background-size: 40px 40px;
    background-position: 0 -40px;
}
